<ion-header>  
  <ion-navbar>
    <ion-title>
        👨‍🍳👩‍🍳 mymedesp 🎉
    </ion-title>
    <ion-buttons end>
      <button ion-button large (click)="addRecipe()">
          <ion-icon name="add" ></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page" *mobxAutorun>  
  <ion-item-group>
    <ion-item-divider color="light">My recipes</ion-item-divider>
    <!-- <button ion-item *ngFor="let recipe of store.recipes">
        <div>{{ recipe.name }}</div>
        <div item-end>ok</div>
    </button> -->

        
          <ion-card *ngFor="let recipe of store.recipes" (click)="recipeDetails(recipe)">
            <img src="assets/imgs/default_recipe.jpg"/>
            <div class="card-title">{{recipe.name}}</div>
            <div class="card-subtitle">{{recipe.description}}</div>
            
          </ion-card>

  </ion-item-group>
</ion-content>  
